services:
  kali:
    build: .
    volumes:
      - kali-data:/home/kali
      - ./tryhackme.ovpn:/home/kali/tryhackme.ovpn:rw
    tty: true
    stdin_open: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun
    ports:
      - "8080:8080"
volumes:
  kali-data:
